@import url("https://fonts.googleapis.com/css2?family=poppins:WGHT@400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  -webikit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: sourcer-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
